@charset "utf-8";
/* CSS Document */

.main-wrapper {
    width: 990px;
    height: 550px;
    background: red;
    margin: 0 auto;
    overflow: hidden;
    /*float: left;*/
}
.debug-info {
    width: 100px;
    height: 600px;
    float: left;
}
